# Autosave files
*~
*.swp

# Mac
.DS_Store

# msbuild
*.binlog

# CSharp
[Bb]in/
[Oo]bj/
TestResult.xml
tests/*.addins
tests/*.xml
tests/TestData
tests/nunit_random_seed.tmp
test-results/
packages/*
!packages/repositories.config
*.pdb
*.dll*
*.exe*

# User settings
*.user

# VS Code extensions
.ionide
.vscode


.vs
*.vsp